<div class="jumbotron">
  <h1>MeSsAgE bOaRd WeBsItE</h1>
</div>

<h3>YoUr MeSsAgE BoArDs</h3>

<% if @boards.any? %>
  <ul>
    <% @boards.each do |board|%>
    <li>
    <a href="/boards/<%= board.id %>" class="btn btn-success"><%= board.title %></a>
    </li>
  <% end %>
  </ul>
  <% else %>
    <p>There are currently no boards to display.</p>
  <% end %>


<form action="/boards" method="get">
  <input name="newest" type="hidden" value="newest">
  <button class="btn btn-danger" type="submit">Sort Newest to Oldest</button>
</form><br>

<form action="/boards" method="get">
  <input name="oldest" type="hidden" value="oldest">
  <button class="btn btn-primary" type="submit">Sort Oldest to Newest</button>
</form><br>

<form action="/boards" method="post">
  <div class="form-group">
    <label for="board_name">Board Name</label>
    <input id="board_name" name="board_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Save Board</button>
</form>

  <form action="/search">
    <div class="form-group">
      <label for="search">Search</label>
      <input id="search" name="search" class="form-control" type="text">
    </div>
  </form>